.container {
    display: flex;
    align-items: center;
}

.figure {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 16px !important;
    color: var(--dark-gray-text) !important;
    font-weight: bold !important;
}

.subtitle {
    font-size: 12px !important;
    color: var(--dark-gray-text) !important;
    font-weight: normal !important;
}