.container {
    width: 80%;
    max-width: 900px;
    min-width: 320px;
    height: 100%;
    max-height: 500px;
    min-height: 485px;
    border-radius: 8px;
}

.header {
    background-color: var(--dark-gray-text);
    padding: 15px 25px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 45px;
}

.header-flex {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: space-between;
}

.circle {
    border-radius: 8px;
    width: 12px;
    height: 12px;
}

.content {
    width: 100%;
    height: calc(100% - 45px);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 20px 40px;
}

.title {
    font-size: 15px !important;
    font-weight: 600 !important;
    color: var(--gray-text) !important;
    margin-bottom: 20px !important;
}

.product {
    display: flex;
    justify-content: space-between;
}