.container {
    height: 50px;
    display: flex;
    margin: 20px auto;
}

.image {
    height: 50px;
    width: 50px;
    background-color: var(--bg-gray);
    margin-right: 10px;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text {
    font-weight: 400 !important;
    color: var(--gray-text) !important;
    font-size: 10px !important;
}