.whyus-container {
    background-color: var(--bg-gray);
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.title {
    color: var(--dark-gray-text) !important;
    font-weight: bold !important;
    align-self: flex-start;
    margin-bottom: 24px !important;
}

.text {
    color: var(--gray-text-dark) !important;
    font-weight: 500 !important;
    align-self: flex-start;
    margin-bottom: 40px !important;
}

.title-box {
    width: 100%;
    max-width: 1300px;
}