.laptop {
  background: url(./../../../../assets/paymentLink/laptop.svg) no-repeat;

  background-size: contain;
  z-index: 1;
  height: 650px;
  width: 1097.72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
