.container {
    width: 400px;
    padding-top: 30px;
    height: 100%;
}

.overflow-container {
    height: calc(100% - 88px);
    overflow-y: auto;
    padding: 0 40px;
}

.overflow-container-gateway {
    height: calc(100% - 88px);
    overflow-y: auto;
    padding: 0 40px;
}

.title {
    font-size: 16px !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
}