.content {
  width: 100%;
  background: linear-gradient(
    107.56deg,
    #0516b1 9.9%,
    #0878ff 42.71%,
    #09d5e5 90.1%
  );
  background-size: cover;
  position: relative;
}

.rentangles {
  width: 100%;
  position: relative;
  background-size: fill;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.title {
  padding-top: 30px;
}

.text {
  font-weight: 600 !important;
  line-height: 150%;
  color: var(--white) !important;
  letter-spacing: -0.02em;
  margin-top: 20px !important;
}

.content-img {
  background-position: center;
  background-repeat: no-repeat;
  object-fit: none;
  object-position: top;
  min-height: 526px;
  max-width: 575px;
}

.content-info {
  padding: 111px 35.13px 65px;
  max-width: 603px;
}

.animation {
  height: auto;
  position: absolute;

  bottom: -8px;

  right: auto;
  object-fit: cover;
  z-index: 1;
}

.boxLottie {
  display: flex;

  height: 100%;
  display: flex;
  justify-content: center;
}

.boxInfo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  background: linear-gradient(
    95deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(233, 239, 246, 1) 98%,
    rgba(213, 225, 239, 1) 337%
  );
  width: 100%;
  height: 643px;
}

@media (max-width: 600px) {
  .animation {
    left: -90px;
    bottom: 93px;
  }

  .triangle {
    clip-path: polygon(-36% 61%, 216% 4%, 801% 48%) !important;
  }
}

@media (max-width: 440px) {
  .triangle {
    clip-path: polygon(-36% 47%, 216% 4%, 801% 48%) !important;
  }
}
