* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: -0.01em !important;
  line-height: 150% !important;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

/* Scrollbar */
body::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background: inherit;
  border-radius: 8px;
  margin: 0 10px;
}
:hover::-webkit-scrollbar-thumb {
  background: var(--gray-text);
  transition: all 0.8s;
}
