* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif !important;
  letter-spacing: -0.01em !important;
  line-height: 150% !important;
}

body {
  min-width: 390px;
}

body::-webkit-scrollbar {
  display: none;
}
