.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.vertical-horizontal-center {
  align-items: center;
  justify-content: center;
}

.prueba {
  width: 50%;
}

.pointer {
  cursor: pointer;
}
