.custom-view {
    position: absolute;
    width: 90%;
    background-color: var(--white);
    z-index: 5;
    border-radius: 10px;
}

.close {
    padding-right: 12px;
    text-align: end;
}

.text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.logo {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.custom-payment {
    background-color: var(--bg-gray);
    height: calc(100% - 73.5px);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.button {
    height: 40px !important;
    width: 100% !important;
    font-size: 12px !important;
    font-weight: bold !important;
}