.container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.title {
    color: var(--dark-gray-text) !important;
    font-weight: bold !important;
}

.title-blue {
    color: var(--title-blue) !important;
    font-weight: bold !important;
    margin-right: 12px !important;
}

.subtitle {
    font-size: 24px !important;
    color: var(--dark-gray-text) !important;
    font-weight: bold !important;
}