:root {
  --primary-buttons: #0878ff;
  --primary-buttons-a: rgba(8, 120, 255, 0.15);
  --secondary: #09d5e5;
  --green-luka: #91e02b;
  --aqua-blue: #5ae1e2;
  --aqua-blue-a: #5ae2e21f;
  --bg-gray: #f6f7fb;
  --dark-gray-text: #2f363e;
  --gray-text: #acb9c9;
  --gray-text-dark: #616f81;
  --gray-blue-text: #32435C;
  --white: #ffffff;
  --light-blue: #E3F0FF;
  --black: #000000;
}
