.title {
    font-weight: 600 !important;
    color: var(--gray-text) !important;
}

.text {
    font-weight: 400 !important;
    color: var(--gray-text) !important;
    font-size: 10px !important;
    margin-bottom: 5px;
}

.price-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.underline {
    border-bottom: 1px solid var(--gray-text);
    margin-bottom: 20px;
}