.title {
    font-size: 16px !important;
    font-weight: bold !important;
}

.input-container {
    width: 100%;
    margin-bottom: 30px;
}

.title-icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.title-figure {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 7px;
    width: 24px;
    height: 24px;
}