/* Desktop */
@media screen and (max-height: 749px) and (min-width: 901px) {
    #lazycontent-container {
        height: 360px !important;
        width: 185px !important;
    }
    #lazycontent-skeleton {
        border-radius: 25px;
    }
}

@media screen and (min-height: 750px) and (max-height: 840px) and (min-width: 901px) {
    #lazycontent-container {
        height: 440px !important;
        width: 220px !important;
    }
    #lazycontent-skeleton {
        border-radius: 35px;
    }
}

@media screen and (min-height: 841px) and (max-height: 909px) and (min-width: 901px) {
    #lazycontent-container {
        height: 520px !important;
        width: 260px !important;
    }
    #lazycontent-skeleton {
        border-radius: 35px;
    }
}

@media screen and (min-height: 909px) and (max-height: 1000px) and (min-width: 901px) {
    #lazycontent-container {
        height: 580px !important;
        width: 300px !important;
    }
    #lazycontent-skeleton {
        border-radius: 45px;
    }
}

@media screen and (min-height: 1001px) and (max-height: 1109px) and (min-width: 901px) {
    #lazycontent-container {
        height: 670px !important;
        width: 340px !important;
    }
    #lazycontent-skeleton {
        border-radius: 45px;
    }
}

@media screen and (min-height: 1110px) and (min-width: 901px) {
    #lazycontent-container {
        height: 730px !important;
        width: 365px !important;
    }
    #lazycontent-skeleton {
        border-radius: 55px;
    }
}

/* Responsive */
@media screen and (max-height: 849px) and (max-width: 900px) {
    #lazycontent-container {
        height: 350px !important;
        width: 180px !important;
    }
    #lazycontent-skeleton {
        border-radius: 30px;
    }
}

@media screen and (min-height: 850px) and (max-height: 920px) and (max-width: 900px) {
    #lazycontent-container {
        height: 440px !important;
        width: 220px !important;
    }
    #lazycontent-skeleton {
        border-radius: 35px;
    }
}

@media screen and (min-height: 920px) and (max-height: 1030px) and (max-width: 900px) {
    #lazycontent-container {
        height: 520px !important;
        width: 260px !important;
    }
    #lazycontent-skeleton {
        border-radius: 35px;
    }
}

@media screen and (min-height: 1031px) and (max-width: 900px) {
    #lazycontent-container {
        height: 590px !important;
        width: 300px !important;
    }
    #lazycontent-skeleton {
        border-radius: 45px;
    }
}