.container {
    background: var(--white);
    border: 1px solid var(--demo-mobile-gray);
    border-radius: 8px;
    margin-right: 20px;
    position: relative;
}

.check-container {
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    position: absolute;
    top: 12px;
    right: 12px;
}

.small-circle {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--primary-buttons);
    z-index: 3;
}

.medium-circle {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    background-color: var(--white);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--bg-gray);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}