.content {
  background: url(../../../assets/aboutUs/mision/Rings.svg) no-repeat;
  width: 100%;
  height: 1414.32px;
}

.contentInfo {
  height: 500px;
}

.title {
  font-weight: 700 !important;
  line-height: 150% !important;
  letter-spacing: -0.02em !important;
}

.layout {
  position: relative;
  z-index: 99;
  height: 1914.32px;
}

.divCards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
