.container {
    display: flex;
    align-items: center;
}

.typography {
    font-size: 14px !important;
    color: var(--dark-gray-text) !important;
}

.input {
    height: 100%;
    width: 100%;
    background-color: white !important;
    border: none;
}