.container {
    background-color: var(--bg-gray);
    border-radius: 8px;
    width: 100%;
    padding: 20px 25px;
}

.text-container {
    display: flex;
}

.text {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: var(--dark-gray-text) !important;
}

.blue-text {
    color: var(--primary-buttons) !important;
}