.container {
    width: 100%;
}

.title {
    font-size: 20px !important;
    font-weight: bold !important;
    margin-bottom: 50px !important;
}

.form-container {
    width: 90%;
    margin: 0 auto;
}

.input-container {
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    color: var(--error-state);
    font-size: 10px !important;
    position: absolute;
    bottom: -15px;
}

.snackbar {
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 10px 10px;
    background-color: var(--white);
}

.lottie {
    width: 50px; 
    height: 50px;
}

.figure {
    width: 50px;
    height: 50px;
}

.snackbar-text {
    font-size: 14px !important;
    color: var(--dark-gray-text) !important;
    font-weight: 600 !important;
}