.container {
    min-height: 285px;
    min-width: 322px;
    height: 285px;
    width: 322px;
    padding: 25px 37px;
    background-color: var(--white);
    margin: 0 8px;
    scroll-snap-align: center;
}

.title {
    font-size: 20px !important;
    font-weight: 500 !important;
    margin-top: 13px !important;
    margin-bottom: 8px !important;
}

.figure {
    height:75px;
    width: 75px;
}

.img {
    height: 100%;
    width: 100%;
}

.paragraph {
    font-size: 14px !important;
    font-weight: 500 !important;
    margin-bottom: 8px !important;
}

.paragraph--blue {
    color: var(--primary-buttons) !important;
}