.content {
  background: url(./../../../assets/world/texturaMalla.png) no-repeat
    var(--dark-blue);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.worldImg {
  width: 100%;
  height: inherit;
}

.title {
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 150% !important;
  color: var(--white) !important;
}

.title-blue {
  width: 100%;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.02em;
  background: linear-gradient(
    107.56deg,
    #3042e2 22.4%,
    #0878ff 54.17%,
    #09d5e5 90.1%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.info {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.subtitle {
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: 150% !important;
  color: var(--white) !important;
  text-align: center !important;
  letter-spacing: -0.02em !important;
}

.contentReady {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -228px;
  width: 100%;
  padding: 44px;
}
