/* Desktop */
@media screen and (max-height: 749px) and (min-width: 901px) {
    #paycard-container {
        height: 65px !important;
        min-height: 65px !important;
        width: 100px !important;
        min-width: 100px !important;
    }
    #paycard-shape {
        height: 65px !important;
        min-height: 65px !important;
    }
    #paycard-text {
        font-size: 8px !important;
        padding-right: 9px;
    }
    #check-container {
        padding: 0px 6px 0px 6px;
        top: 2px;
    }
    #icons-container {
        padding: 0px 6px 0px 6px;
        bottom: 2px;
    }
    #big-circle {
        height: 8px;
        width: 8px;
    }
    #medium-circle {
        height: 7px;
        width: 7px;
    }
    #small-circle {
        height: 4px;
        width: 4px;
    }
    #small-icon {
        height: 9px;
        width: 9px;
    }
    #big-icon {
        height: 14px;
        width: 28px;
    }
    #paycard-icon {
        height: 14.5px;
        width: 35px;
    }
    #paycard-title {
        font-size: 7px;
    }
    #paycard-info {
        font-size: 7px;
    }
}

@media screen and (min-height: 750px) and (max-height: 840px) and (min-width: 901px) {
    #paycard-container {
        height: 80px !important;
        min-height: 80px !important;
        width: 125px !important;
        min-width: 125px !important;
    }
    #paycard-shape {
        height: 80px !important;
        min-height: 80px !important;
    }
    #paycard-text {
        font-size: 10px !important;
        padding-right: 11px;
    }
    #check-container {
        padding: 0px 8px 0px 8px;
        top: 4px;
    }
    #icons-container {
        padding: 0px 8px 0px 8px;
        bottom: 4px;
    }
    #big-circle {
        height: 10px;
        width: 10px;
    }
    #medium-circle {
        height: 9px;
        width: 9px;
    }
    #small-circle {
        height: 6px;
        width: 6px;
    }
    #small-icon {
        height: 11px;
        width: 11px;
    }
    #big-icon {
        height: 15px;
        width: 30px;
    }
    #paycard-icon {
        height: 18.5px;
        width: 40px;
    }
    #paycard-title {
        font-size: 9px;
    }
    #paycard-info {
        font-size: 7px;
    }
}

@media screen and (min-height: 841px) and (max-height: 908px) and (min-width: 901px) {
    #paycard-container {
        height: 100px !important;
        min-height: 100px !important;
        width: 150px !important;
        min-width: 150px !important;
    }
    #paycard-shape {
        height: 100px !important;
        min-height: 100px !important;
    }
    #paycard-text {
        font-size: 12px !important;
        padding-right: 13px;
    }
    #check-container {
        padding: 0px 10px 0px 8px;
        top: 6px;
    }
    #icons-container {
        padding: 0px 10px 0px 8px;
        bottom: 6px;
    }
    #big-circle {
        height: 10px;
        width: 10px;
    }
    #medium-circle {
        height: 9px;
        width: 9px;
    }
    #small-circle {
        height: 6px;
        width: 6px;
    }
    #small-icon {
        height: 13px;
        width: 13px;
    }
    #big-icon {
        height: 18px;
        width: 36px;
    }
    #paycard-icon {
        height: 22px;
        width: 43px;
    }
    #paycard-title {
        font-size: 11px;
    }
    #paycard-info {
        font-size: 8px;
    }
}

@media screen and (min-height: 909px) and (max-height: 1000px) and (min-width: 901px) {
    #paycard-container {
        height: 125px !important;
        min-height: 125px !important;
        width: 197px !important;
        min-width: 197px !important;
    }
    #paycard-shape {
        height: 125px !important;
        min-height: 125px !important;
    }
    #paycard-text {
        font-size: 14px !important;
        padding-right: 13px;
    }
    #check-container {
        padding: 4px 10px 0px 8px;
        top: 6px;
    }
    #icons-container {
        padding: 0px 10px 0px 8px;
        bottom: 6px;
    }
    #big-circle {
        height: 12px;
        width: 12px;
    }
    #medium-circle {
        height: 11px;
        width: 11px;
    }
    #small-circle {
        height: 8px;
        width: 8px;
    }
    #small-icon {
        height: 15px;
        width: 15px;
    }
    #big-icon {
        height: 20px;
        width: 38px;
    }
    #paycard-icon {
        height: 28px;
        width: 43px;
    }
    #paycard-title {
        font-size: 14px;
    }
    #paycard-info {
        font-size: 8px;
    }
}

@media screen and (min-height: 1001px) and (max-height: 1109px) and (min-width: 901px) {
    #paycard-container {
        height: 140px !important;
        min-height: 140px !important;
        width: 220px !important;
        min-width: 220px !important;
    }
    #paycard-shape {
        height: 140px !important;
        min-height: 140px !important;
    }
    #paycard-text {
        font-size: 15px !important;
        padding-right: 15px;
    }
    #check-container {
        padding: 0px 10px 0px 10px;
        top: 10px;
    }
    #icons-container {
        padding: 0px 10px 0px 10px;
        bottom: 10px;
    }
    #big-circle {
        height: 12px;
        width: 12px;
    }
    #medium-circle {
        height: 11px;
        width: 11px;
    }
    #small-circle {
        height: 8px;
        width: 8px;
    }
    #small-icon {
        height: 15px;
        width: 15px;
    }
    #big-icon {
        height: 20px;
        width: 40px;
    }
    #paycard-icon {
        height: 30px;
        width: 45px;
    }
    #paycard-title {
        font-size: 16px;
    }
    #paycard-info {
        font-size: 10px;
    }
}

@media screen and (min-height: 1110px) and (min-width: 901px) {
    #paycard-container {
        height: 150px !important;
        min-height: 150px !important;
        width: 240px !important;
        min-width: 240px !important;
    }
    #paycard-shape {
        height: 150px !important;
        min-height: 150px !important;
    }
    #paycard-text {
        font-size: 17px !important;
        padding-right: 15px;
    }
    #check-container {
        padding: 0px 10px 0px 10px;
        top: 10px;
    }
    #icons-container {
        padding: 0px 10px 0px 10px;
        bottom: 10px;
    }
    #big-circle {
        height: 14px;
        width: 14px;
    }
    #medium-circle {
        height: 13px;
        width: 13px;
    }
    #small-circle {
        height: 10px;
        width: 10px;
    }
    #small-icon {
        height: 20px;
        width: 20px;
    }
    #big-icon {
        height: 25px;
        width: 45px;
    }
    #paycard-icon {
        height: 30px;
        width: 45px;
    }
    #paycard-title {
        font-size: 16px;
    }
    #paycard-info {
        font-size: 10px;
    }
}

/* Responsive */
@media screen and (max-height: 849px) and (max-width: 900px) {
    #paycard-container {
        height: 65px !important;
        min-height: 65px !important;
        width: 100px !important;
        min-width: 100px !important;
    }
    #paycard-shape {
        height: 65px !important;
        min-height: 65px !important;
    }
    #paycard-text {
        font-size: 8px !important;
        padding-right: 9px;
    }
    #check-container {
        padding: 0px 6px 0px 6px;
        top: 2px;
    }
    #icons-container {
        padding: 0px 6px 0px 6px;
        bottom: 2px;
    }
    #big-circle {
        height: 8px;
        width: 8px;
    }
    #medium-circle {
        height: 7px;
        width: 7px;
    }
    #small-circle {
        height: 4px;
        width: 4px;
    }
    #small-icon {
        height: 9px;
        width: 9px;
    }
    #big-icon {
        height: 14px;
        width: 28px;
    }
    #paycard-icon {
        height: 14.5px;
        width: 35px;
    }
    #paycard-title {
        font-size: 7px;
    }
    #paycard-info {
        font-size: 7px;
    }
}

@media screen and (min-height: 850px) and (max-height: 920px) and (max-width: 900px) {
    #paycard-container {
        height: 80px !important;
        min-height: 80px !important;
        width: 125px !important;
        min-width: 125px !important;
    }
    #paycard-shape {
        height: 80px !important;
        min-height: 80px !important;
    }
    #paycard-text {
        font-size: 10px !important;
        padding-right: 11px;
    }
    #check-container {
        padding: 0px 8px 0px 8px;
        top: 4px;
    }
    #icons-container {
        padding: 0px 8px 0px 8px;
        bottom: 4px;
    }
    #big-circle {
        height: 10px;
        width: 10px;
    }
    #medium-circle {
        height: 9px;
        width: 9px;
    }
    #small-circle {
        height: 6px;
        width: 6px;
    }
    #small-icon {
        height: 11px;
        width: 11px;
    }
    #big-icon {
        height: 15px;
        width: 30px;
    }
    #paycard-icon {
        height: 18.5px;
        width: 40px;
    }
    #paycard-title {
        font-size: 9px;
    }
    #paycard-info {
        font-size: 7px;
    }
}

@media screen and (min-height: 921px) and (max-height: 1030px) and (max-width: 900px) {
    #paycard-container {
        height: 100px !important;
        min-height: 100px !important;
        width: 150px !important;
        min-width: 150px !important;
    }
    #paycard-shape {
        height: 100px !important;
        min-height: 100px !important;
    }
    #paycard-text {
        font-size: 12px !important;
        padding-right: 13px;
    }
    #check-container {
        padding: 0px 10px 0px 8px;
        top: 6px;
    }
    #icons-container {
        padding: 0px 10px 0px 8px;
        bottom: 6px;
    }
    #big-circle {
        height: 10px;
        width: 10px;
    }
    #medium-circle {
        height: 9px;
        width: 9px;
    }
    #small-circle {
        height: 6px;
        width: 6px;
    }
    #small-icon {
        height: 13px;
        width: 13px;
    }
    #big-icon {
        height: 18px;
        width: 36px;
    }
    #paycard-icon {
        height: 22px;
        width: 43px;
    }
    #paycard-title {
        font-size: 11px;
    }
    #paycard-info {
        font-size: 9px;
    }
}

@media screen and (min-height: 1031px) and (max-width: 900px) {
    #paycard-container {
        height: 120px !important;
        min-height: 120px !important;
        width: 190px !important;
        min-width: 190px !important;
    }
    #paycard-shape {
        height: 120px !important;
        min-height: 120px !important;
    }
    #paycard-text {
        font-size: 15px !important;
        padding-right: 15px;
    }
    #check-container {
        padding: 0px 10px 0px 10px;
        top: 10px;
    }
    #icons-container {
        padding: 0px 10px 0px 10px;
        bottom: 10px;
    }
    #big-circle {
        height: 12px;
        width: 12px;
    }
    #medium-circle {
        height: 11px;
        width: 11px;
    }
    #small-circle {
        height: 8px;
        width: 8px;
    }
    #small-icon {
        height: 15px;
        width: 15px;
    }
    #big-icon {
        height: 20px;
        width: 40px;
    }
    #paycard-icon {
        height: 28px;
        width: 43px;
    }
    #paycard-title {
        font-size: 14px;
    }
    #paycard-info {
        font-size: 8px;
    }
}