.content {
  width: 100%;
  display: flex;
  position: absolute !important;
  background-color: transparent !important;
}

.logo {
  object-fit: cover;
  height: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 80vh;
}

.content-joinButton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  width: 158px;
}

.content-menu {
  width: 60%;
  text-align: end;
  right: 60px;
  position: relative;
  gap: 20;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}
