.content {
  display: flex;
  gap: 50px;
  overflow: hidden;
}

.contentInfo {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  position: relative;
  bottom: 72px;
}

.title {
  font-weight: 700 !important;
  line-height: 120% !important;
  color: var(--dark-gray-text) !important;
  letter-spacing: -0.02em !important;
}

.text {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  color: var(--gray-text-dark) !important;
}

.contentImg {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.img {
  width: 754px;
  height: 548px;
  margin-left: 75px;
  margin-bottom: 102px;
}

@media (max-width: 500px) {
  .img {
    width: 655px;
  }
}
